.library{
  height: calc(100vh);
  position: relative;
  margin-top: 15px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: justify;
  background: rgba(0, 0, 0, 0.9);
  border:2px solid gainsboro;
}
.libraryHeader{
  position: sticky;
  width: inherit;
  padding-top: 15px;
  height: 50px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  top: 0;
  margin: auto;
  align-items: center;
}
.songArea{
 background: url('assets/images/images\ \(11\).jpeg') center bottom;
  background-attachment: fixed;
  margin-top: 15px;
  /* height: calc(100vh - 178px); */
  height: calc(100vh - 230px);
  overflow: scroll;
}
.libraryHeader .shuffleXplay{
  display: flex;
  font-size: 15px;
}
.libraryHeader .sortBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sortBtn svg:nth-of-type(2){
  position: absolute;
  bottom: 0%;
}
.sortBtn.asc .fa-sort-up{
  color: gray;
}
.sortBtn.desc .fa-sort-down{
  color: gray;
}

.shuffleXplay .shuffle, .play{
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 10px;
  color: black;
}
body{
  overflow: hidden;
  background: rgb(29, 28, 28);
  color: white;
  height: 100vh;
}
.song{
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
  font-size: 100%;
}
.song .pause{
  position: absolute;
  right: -10px;
  font-size: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 0px;
  background: white;
  color: #ec293a;
  transition: all 0.7s ease-in-out;
}
.song:not(.active) .pause{
  display: none;
}
.song.active{
  background:#ec293a;
  transition: all 0.3s ease-in-out;
}
.song .container{
  position: relative;
  display: flex;
  align-items: center;
}
.songTitle{
  font-weight: 600;
}
.thumbnail{
  margin-right: 20px;
}
.thumbnail img{
  width: 40px;
  height: 40px;
  border-radius: 7px;
}
/* Song Viewer */
.songViewer{
  background: linear-gradient(to left, blue, red);
  width: calc(100% - 10px);
  left: 50%;
  transform: translateX(-50%);
  height: 56px;
  position: absolute;
  bottom: 0;
  padding: 4px;
  border-radius: 10rem;
}
.songViewer .inner{
  background-color: rgb(19, 18, 18);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  width: 100%;
  height: 100%;
}
.songViewer .thumbnail img{
  width: 35px;
  height:35px;
  border-radius: 50%;
  display: block;
}
.songViewer .thumbnail{
  box-sizing: content-box;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}
.songViewer .buttons{
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.songViewer .buttons .btn-pause{
  font-size: 20px;
}